Pipfile.lock
Pipfile
/Pipfile
credentials.txt
settings/credentials.txt
driver/*
driver
pihrbot/__pycache__
pihrbot/__pycache__/*
setting/__pycache__
setting/__pycache__/*
pihrbot/celerybeat-schedule.bak
pihrbot/celerybeat-schedule.dat
pihrbot/celerybeat-schedule.dir